@model MoviePageViewModel

@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}
	var maxPage = Math.Ceiling((double)Model.TotalItemsCount /
	Model.ItemsPerPage);
}

<div class="row mb-5 mt-2 ms-2 me-2">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
		   asp-controller="Movie"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-itemsPerPage="@Model.ItemsPerPage"><<</a>
	</div>
	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Movies.Any();
	}
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Movie"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-itemsPerPage="@Model.ItemsPerPage">>></a>
	</div>
</div>

@if (!Model.Movies.Any())
{
	<h2 class="text-center">There are no movies yet!</h2>
}

<div class="container-fluid mt-2">
	<div class="row all-movies-container">
		@foreach (var movie in Model.Movies)
		{

			<div class="col-sm-6 col-md-4 text-center mb-2">
				<div class=" all-movies-img-container">
					<a asp-area="" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id.ToString()">
						<img class="movie-details-container" src="@movie.ImageUrl" />
					</a>
					<h2>
						<a asp-area="" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id.ToString()">
							@movie.Name
						</a>
					</h2>
					<h4>@movie.YearOfRelease</h4>
					<div class="text-center">
						@if (User.IsAdmin())
						{
							<a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id.ToString()"
							   class="btn btn-warning">Edit</a>
							<a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id.ToString()"
							   class="btn btn-danger"
							   onclick="return confirm('are you sure you want to delete this movie?')">Delete</a>
						}
					</div>
				</div>

			</div>


		}
	</div>

</div>



