@model MovieDetailsViewModel
@inject IGenreService genreService;
@inject IActorService actorService;

@{
	var movieGenres = await genreService.GetMovieGenresByMovieIdAsync(Model.Id.ToString());
	var movieActors = await actorService.GetAllMovieActorsByMovieIdAsync(Model.Id.ToString());
	var actorsAndCharacters = await actorService.GetActorsWithTheirCharactersByMovieId(Model.Id.ToString());
}

<div class="container-fluid p-0">
	@*
	Main Details
	*@
	<section class="container-fluid details-main-content mb-2">
		<header class="row mb-1 pe-2">
			<div class="col-4">
				<h1>@Model.Name (@Model.ReleaseDateYear)</h1>
			</div>
			<div class="col-5 offset-3">
				<div class="d-flex justify-content-end">
					<div class="d-flex flex-column justify-content-center">
						<h4 class="me-4">Rating</h4>
						<p><i class="fa-solid fa-star me-1" style="color: #FFD43B;"></i>@Model.Rating/10</p>
					</div>
					<div class="d-flex flex-column justify-content-center me-2">
						<h4>Rate Movie:</h4>
						<p class="text-center"><i class="fa-regular fa-star me-1" style="color: #FFD43B;"></i>Rate</p>
					</div>
				</div>
			</div>
		</header>
		<main class="container-fluid no-padding">
			<div class="row bg-dark g-0">
				<div class="col-3">
					<img src="@Model.ImageUrl" class="img-fluid" style="max-width:100%" />
				</div>
				<div class="col-7">
					<iframe class="" src="@Model.TrailerUrl"></iframe>
				</div>
				<div class="col-2" style="display:flex;flex-direction:column;justify-content:center">
					<div class="d-flex flex-col justify-content-center">
						<a src="" class="text-center">
							<i class="fa-solid fa-image details-photos" style="color: #1056b1;font-size:8vw"></i>
							<p style="font-weight:bolder;font-size:3vw">Photos</p>
						</a>
					</div>
				</div>
			</div>
		</main>
		@*
		Genres
		*@
		<footer class="p-2">

			@for (int i = 0; i < movieGenres.Length; i++)
			{
				<div class="genreButton me-1 mb-1">@movieGenres[i].GenreGenreName</div>
			}

			<div>
				<p>@Model.Description</p>
			</div>

		</footer>
	</section>
	@*
	Actors
	*@
	<section>
		<h1 class="text-center">Movie Cast:</h1>
		<div>
			@foreach (var ac in actorsAndCharacters)
			{
				foreach (var amc in ac.ActorsAndCharacters)
				{
					<h1>@amc.ActorName</h1>
					<h1>@amc.ActorImageUrl</h1>
					<h1>@amc.MovieCharacterName</h1>
					<h1>@amc.MovieCharacterImageUrl</h1>
				}
			}
		</div>

	</section>
	@*
	User Reviews
	*@
	<section>
	</section>
</div>