@model MovieDetailsViewModel
@inject IGenreService genreService;

@{
	var movieGenres = await genreService.GetMovieGenresByMovieIdAsync(Model.Id.ToString());
}

<div class="container-fluid">
	@*
	Main Details
	*@
	<section class="container-fluid no-padding details-main-content">
		<header class="row mb-1 ps-2 pe-2">
			<div class="col-4">
				<h1>@Model.Name (@Model.ReleaseDateYear)</h1>
			</div>
			<div class="col-4 offset-4">
				<div class="d-flex justify-content-end">
					<div>
						<h4 class="me-5">Rating</h4>
						<p><i class="fa-solid fa-star me-1" style="color: #FFD43B;"></i>@Model.Rating/10</p>
					</div>
					<div>
						<h4>Rate this movie</h4>
						<p class="text-center"><i class="fa-regular fa-star me-1" style="color: #FFD43B;"></i>Rate</p>
					</div>
				</div>
			</div>
		</header>
		<main class="container-fluid no-padding">
			<div class="row bg-dark g-0">
				<div class="col-3">
					<img src="@Model.ImageUrl" class="img-fluid" style="max-width:100%" />
				</div>
				<div class="col-7">
					<iframe class="" src="@Model.TrailerUrl"></iframe>
				</div>
				<div class="col-2" style="display:flex;flex-direction:column;justify-content:center">
					<div class="d-flex flex-col justify-content-center">
						<a src="" class="text-center">
							<i class="fa-solid fa-image" style="color: #1056b1;font-size:64px"></i>
							<p>Photos</p>
						</a>
					</div>
				</div>
			</div>
		</main>
		<footer class="p-2">

			@for (int i = 0; i < movieGenres.Length; i++)
			{
				<div class="genreButton me-1 mb-1">@movieGenres[i].GenreGenreName</div>
			}

			<div>
				<p>@Model.Description</p>
			</div>

		</footer>
	</section>
	@*
	Actors
	*@
	<section>
	</section>
	@*
	User Reviews
	*@
	<section>
	</section>
</div>