@model MovieDetailsViewModel

<div class="container-fluid">
	@*
	Main Details
	*@
	<section class="container-fluid">
		<header class="row">
			<div class="col-4">
				<h1>@Model.Name (@Model.ReleaseDateYear)</h1>
			</div>
			<div class="col-4 offset-4">
				<div class="d-flex justify-content-between">
					<div>
						<h4>Rating</h4>
						<p><i class="fa-solid fa-star me-1" style="color: #FFD43B;"></i>@Model.Rating/10</p>
					</div>
					<div>
						<h4>Rate this movie</h4>
						<p class="text-center"><i class="fa-regular fa-star me-1" style="color: #FFD43B;"></i>Rate</p>
					</div>
				</div>
			</div>
		</header>
		<main class="container-fluid">
			<div class="row bg-dark g-1" style="min-height:420px">
				<div class="col-4">
					<img src="@Model.ImageUrl" class="img-fluid w-100" style="height:420px" />
				</div>
				<div class="col-6">
					<div class="ratio ratio-16x9" style="min-height:420px">
						<iframe class="w-100" src="@Model.TrailerUrl"></iframe>
					</div>
				</div>
				<div class="col-2" style="display:flex;flex-direction:column;justify-content:center">
					<div class="d-flex flex-col justify-content-center">
						<a src="" class="text-center">
							<i class="fa-solid fa-image" style="color: #1056b1;font-size:64px"></i>
							<p>Photos</p>
						</a>
					</div>
				</div>
			</div>
		</main>
		<footer>
			@for (int i = 0; i < Model.ActorsMovies.Count; i++)
			{
				
			}
		</footer>
	</section>
	@*
	Actors
	*@
	<section>
	</section>
	@*
	User Reviews
	*@
	<section>
	</section>
</div>