@model MovieDetailsViewModel
@inject IGenreService genreService;
@inject IMovieService movieService;
@inject IUserReviewService userReviewService;

@{
	var movieGenres = await genreService.GetMovieGenresByMovieIdAsync(Model.Id.ToString());
	var movieActorsAndTheirCharacters = await movieService.GetMovieActorsAndCharactersByMovieIdAsync(Model.Id.ToString());

	bool movieHasReviews = await userReviewService.MovieHasUserReviewsByIdAsync(Model.Id.ToString());
	var latestReview = await userReviewService.GetLatestUserReviewByMovieIdAsync(Model.Id.ToString());

}

<div class="container-fluid p-0">
	@*
	Main Details
	*@
	<section class="container-fluid details-main-content mb-2">
		<header class="row mb-3 pe-2">
			<div class="col-6 d-flex flex-column">
				<h1>@Model.Name</h1>
				<p class="fw-bold">(@Model.ReleaseDate.Year)</p>
				@if (User.IsAdmin())
				{
					<div class="">
						<a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id.ToString()"
						   class="btn btn-warning me-1">Edit</a>
						<a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id.ToString()"
						   class="btn btn-danger"
						   onclick="return confirm('are you sure you want to delete this movie?')">Delete</a>
					</div>

				}
			</div>
			<div class="text-end movie-rating col-6">
				<p class="fw-bold">User Rating:</p>
				<div class="fs-3 d-flex align-items-center justify-content-end">
					<i class="fa-solid fa-star me-1" style="color: #FFD43B;"></i>
					<span>9.4</span>
				</div>

			</div>
		</header>
		<main class="container-fluid no-padding">
			<div class="row bg-dark g-0 movie-details-container">
				<div class="col-3">
					<img src="@Model.ImageUrl" class="img-fluid movie-details-container" style="max-width:100%" />
				</div>
				<div class="col-9">
					<iframe class="" src="@Model.TrailerUrl"></iframe>
				</div>
			</div>
		</main>
		@*
		Genres
		*@
		<footer class="p-2">

			@if (movieGenres.Length > 0 && User.IsAdmin())
			{
				@for (int i = 0; i < movieGenres.Length; i++)
				{
					<a class="admin-genreButton me-1 mb-1"
					   asp-controller="Genre" asp-action="RemoveFromMovie"
					   asp-route-genreid="@movieGenres[i].GenreId"
					   asp-route-movieid="@Model.Id.ToString()"
					   onclick="return confirm('are you sure you want to delete this genre?')">
						@movieGenres[i].GenreGenreName
					</a>
				}
			}
			else if (movieGenres.Length > 0 && !User.IsAdmin())
			{
				@for (int i = 0; i < movieGenres.Length; i++)
				{
					<div class="genreButton me-1 mb-1">@movieGenres[i].GenreGenreName</div>
				}
			}
			else
			{
				<p>There are currently no genres for this movie!</p>
			}

			@if (User.IsAdmin())
			{
				<a class="genre-add-button me-1 mb-1" asp-controller="Genre" asp-action="AddToMovie" asp-route-id="@Model.Id.ToString()">Add a genre</a>
			}

			<div>
				<p>@Model.Description</p>
			</div>

		</footer>
	</section>
	@*
	Actors
	*@
	<section class="mb-5">
		<h1 class="text-center mb-5">Movie Cast:</h1>

		<div class="d-flex flex-row flex-wrap justify-content-around mb-3 text-center">

			@if (movieActorsAndTheirCharacters.Length > 0)
			{
				@foreach (var mac in movieActorsAndTheirCharacters)
				{
					<div class="actor-img-container">
						<a asp-controller="Actor" asp-action="Details" asp-route-id="@mac.ActorId">
							<img src="@mac.ActorImageUrl" class="img-fluid rounded-circle">
						</a>
						<div class="d-flex flex-column actor-character-names">
							<h4>
								<a class="text-dark" asp-controller="Actor" asp-action="Details" asp-route-id="@mac.ActorId">
									@mac.ActorName
								</a>
							</h4>
							<p>
								<a class="text-dark" asp-controller="MovieCharacter" asp-action="Details" asp-route-id="@mac.MovieCharacterId">
									@mac.MovieCharacterName
								</a>
							</p>
							@if (User.IsAdmin())
							{
								<a asp-controller="Actor" asp-action="EditMovieActorAndRole"
								   asp-route-movieid="@Model.Id.ToString()"
								   asp-route-actorid="@mac.ActorId"
								   class="btn btn-warning">
									Edit
								</a>
								<a asp-controller="Actor" asp-action="RemoveActorAndRoleFromMovie"
								   asp-route-movieid="@Model.Id.ToString()"
								   asp-route-actorid="@mac.ActorId"
								   class="btn btn-danger"
								   onclick="return confirm('are you sure you want to delete the actor and their role?')">
									Delete
								</a>
							}

						</div>
					</div>
				}
			}
			else
			{
				<h2 class="text-center">There is currently no information about the actors of this movie!</h2>
			}

		</div>
		@if (User.IsAdmin())
		{
			<div class="container-fluid d-flex justify-content-center">
				<div class="actor-img-container">
					<a asp-controller="Actor" asp-action="AddActorAndRoleToMovie" asp-route-id="@Model.Id.ToString()">
						<img src="~/images//addActor.png" class="img-fluid rounded-circle">
					</a>
					<a class="genre-add-button me-1 mb-1"
					   asp-controller="Actor" asp-action="AddActorAndRoleToMovie" asp-route-id="@Model.Id.ToString()">
						Add an Actor and role
					</a>
				</div>
			</div>

		}
	</section>
	@*
	User Reviews
	*@
	<section class="container-fluid user-reviews-section mb-3 text-center">
		<div class="user-reviews-container">
			<header class="row mb-1 pe-2">
				<div class="col-4">
					<a class="d-flex align-items-center all-user-reviews-link"
					   asp-route-id="@Model.Id.ToString()" asp-controller="UserReview" asp-action="All">
						<h1>User Reviews</h1>
						<i class="fa-solid fa-angle-right ms-1" style="color: #000000;"></i>
					</a>
				</div>
				<div class="col-5 offset-3">
					<div class="d-flex justify-content-end">
						<div class="d-flex">
							<a class="d-flex align-items-center add-review-link p-2"
							   asp-controller="UserReview"
							   asp-action="AddToMovie"
							   asp-route-movieId="@Model.Id.ToString()"
							   asp-route-applicationUserId="@User.GetId()">
								<i class="fa-solid fa-plus me-2"></i>
								<p class="mb-0">Review</p>
							</a>
						</div>
					</div>
				</div>
			</header>
			<main class="container-fluid no-padding review-main">
				<header>
					@if (movieHasReviews)
					{
						<h3>Newest Review</h3>
						<div class="container-fluid text-center">
							<h2>@latestReview.ApplicationUserUserName</h2>
							@if (User.Identity.IsAuthenticated && User.GetId().ToLower() == latestReview.ApplicationUserId.ToLower())
							{
								<a asp-controller="UserReview" asp-action="Edit" asp-route-applicationUserId="@latestReview.ApplicationUserId"
								   asp-route-movieId="@latestReview.MovieId"
								   class="btn btn-warning">Edit</a>
								<a asp-controller="UserReview" asp-action="Delete" asp-route-applicationUserId="@latestReview.ApplicationUserId"
								   asp-route-movieId="@latestReview.MovieId"
								   class="btn btn-danger"
								   onclick="return confirm('are you sure you want to delete this review?')">Delete</a>
							}
							<p>@latestReview.Comment</p>
						</div>
					}
					else
					{
						<h3>Newest Review</h3>
						<div class="container-fluid text-center">
							<h2>Movie Currently has no reviews!</h2>
						</div>
					}

				</header>
			</main>
		</div>

	</section>



</div>