@model MovieDetailsViewModel
@inject IGenreService genreService;
@inject IMovieService movieService;

@{
	var movieGenres = await genreService.GetMovieGenresByMovieIdAsync(Model.Id.ToString());
	var movieActorsAndTheirCharacters = await movieService.GetMovieActorsAndCharactersByMovieIdAsync(Model.Id.ToString());

}

<div class="container-fluid p-0">
	@*
	Main Details
	*@
	<section class="container-fluid details-main-content mb-2">
		<header class="row mb-1 pe-2">
			<div class="col-4">
				<h1>@Model.Name (@Model.ReleaseDateYear)</h1>
			</div>
			<div class="col-5 offset-3">
				<div class="d-flex justify-content-end rating-info">
					<div class="d-flex flex-column justify-content-center">
						<h4 class="me-5">Rating</h4>
						<p><i class="fa-solid fa-star me-1" style="color: #FFD43B;"></i>@Model.Rating/10</p>
					</div>
					<div class="d-flex flex-column text-light">
						<h4>Your Rating</h4>
						<a class="text-center rate-btn text-light" asp-controller="Movie" asp-action="Rate"><i class="fa-regular fa-star me-1" style="color: #FFD43B;"></i>Rate</a>
					</div>
				</div>
			</div>
		</header>
		<main class="container-fluid no-padding">
			<div class="row bg-dark g-0">
				<div class="col-3">
					<img src="@Model.ImageUrl" class="img-fluid" style="max-width:100%" />
				</div>
				<div class="col-7">
					<iframe class="" src="@Model.TrailerUrl"></iframe>
				</div>
				<div class="col-2" style="display:flex;flex-direction:column;justify-content:center">
					<div class="d-flex flex-col justify-content-center">
						<a src="" class="text-center">
							<i class="fa-solid fa-image details-photos" style="color: #1056b1;font-size:8vw"></i>
							<p style="font-weight:bolder;font-size:3vw">Photos</p>
						</a>
					</div>
				</div>
			</div>
		</main>
		@*
		Genres
		*@
		<footer class="p-2">

			@for (int i = 0; i < movieGenres.Length; i++)
			{
				<div class="genreButton me-1 mb-1">@movieGenres[i].GenreGenreName</div>
			}

			<div>
				<p>@Model.Description</p>
			</div>

		</footer>
	</section>
	@*
	Actors
	*@
	<section class="mb-3">
		<h1 class="text-center mb-5">Movie Cast:</h1>

		<div class="d-flex flex-row flex-wrap justify-content-around  text-center">
			@foreach (var mac in movieActorsAndTheirCharacters)
			{
				<div class="actor-img-container">
					<a asp-controller="Actor" asp-action="Details" asp-route-id="@mac.ActorId">
						<img src="@mac.ActorImageUrl" class="img-fluid rounded-circle">
					</a>
					<div class="d-flex flex-column actor-character-names">
						<h4>
							<a class="text-dark" asp-controller="Actor" asp-action="Details" asp-route-id="@mac.ActorId">
								@mac.ActorName
							</a>
						</h4>
						<p>
							<a class="text-dark" asp-controller="MovieCharacter" asp-action="Details" asp-route-id="@mac.MovieCharacterId">
								@mac.MovieCharacterName
							</a>
						</p>
					</div>
				</div>
			}
		</div>


	</section>
	@*
	User Reviews
	*@
	<section class="container-fluid user-reviews-section mb-2 text-center">
		<div class="user-reviews-container">
			<header class="row mb-1 pe-2">
				<div class="col-4 d-flex">
					<h1>User Reviews</h1>
					<i class="fa-solid fa-angle-right" style="color: #000000;"></i>
				</div>
				<div class="col-5 offset-3">
					<div class="d-flex justify-content-end">
						<div class="d-flex">
							<i class="fa-solid fa-plus me-4"></i>
							<p>Review</p>
						</div>
					</div>
				</div>
			</header>
			<main class="container-fluid no-padding review-main">
				<header>
					<p>Newest Review</p>
					<p></p>
				</header>
			</main>
		</div>
		
	</section>
	

	
</div>